<%- include('./partials/head')%>

<a href="/api/v1/auth/login">login</a>

<a href="/api/v1/auth/register">register</a>

<a href="/api/v1/cursos">ver todos los cursos</a>

<h1>bienvenidos al buscador de cursos!!</h1>

<input type="text" placeholder="kilometros">
<input type="text" placeholder="codigo postal">
<button>buscar cursos</button>

<%- include('./partials/footer')%>
