<%- include('./partials/head')%>

<input type="text" placeholder="ingrese email">
<input type="password" placeholder="ingrese password">
<button>Login</button>
<p>ya estas registrado entonces hace click <a href="">aqui</a></p>
<p>te olvidaste la contraseña? <a href="">reset password</a></p>



<%- include('./partials/footer')%>


