<%- include('./partials/head')%>


<input type="text" placeholder="nombre">
<input type="text" placeholder="ingrese email">
<input type="password" placeholder="ingrese password">
<input type="password" placeholder="confirm password">
<!-- Role -->

<button>Registrar</button>




<%- include('./partials/footer')%>